<div class="container">
  <div class="inputs-container">
    <input type="text" placeholder="Add a Task" [(ngModel)]="title" />
    <input
      type="text"
      placeholder="Optional short description"
      [(ngModel)]="description"
    />
    <input type="datetime-local" name="" id="" [(ngModel)]="dueDateTime" />
  </div>
  <div class="select-item-type">
    <select [(ngModel)]="selectedPriority">
      <option value="" disabled [selected]="selectedPriority === null">
        Select Priority
      </option>
      <option *ngFor="let priority of priorities" [value]="priority">
        {{ priority }}
      </option>
    </select>

    <select [(ngModel)]="selectedCategory">
      <option value="" disabled>Select Category</option>
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>

    <select [(ngModel)]="selectedStatus">
      <option value="" disabled>Set Status</option>
      <option *ngFor="let status of statuses" [value]="status">
        {{ status }}
      </option>
    </select>
  </div>

  <div class="inputs-container">
    <input type="text" placeholder="Add comments" [(ngModel)]="comments" />
    <button (click)="add()">Add</button>
  </div>

  <!-- displaying tasks + conditional rendering-->
</div>
<ng-container *ngIf="todos.length > 0; else noTodo">
  <ul>
    <li *ngFor="let todo of todos">
      {{ todo.title }} <br />
      <strong>Description: </strong> {{ todo.description }} <br />
      <strong>Priority: </strong> {{ todo.priority }} <br />
      <strong>Status: </strong> {{ todo.status }} <br />
      <strong>Category: </strong> {{ todo.category }} <br />
      <strong>Comments: </strong> {{ todo.comments }} <br />
      <strong>Due Date: </strong> {{ todo.dueDateTime.formatted }} <br />
      <strong>Created On: </strong> {{ todo.createdDate.formatted }} <br />
      <div>
        <button (click)="deleteTask(todo.id)">Delete</button>
        <button
          *ngIf="todo.status != 'Completed'"
          (click)="isTaskComplete(todo.id)"
        >
          Mark Complete
        </button>
      </div>
      <hr />
    </li>
  </ul>
</ng-container>
<ng-template #noTodo>
  <p>No tasks found. Add one.</p>
</ng-template>
