* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  flex-wrap: wrap;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.inputs-container {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="datetime-local"],
select {
  flex: 1;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

input[type="text"]:focus,
input[type="datetime-local"]:focus,
select:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

.select-item-type {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

select {
  flex: 1;
}

button {
  padding: 0.8rem 1.2rem;
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


button:hover {
  background-color: #195e8b;
}

.title {
  color: #2980b9;
  padding-bottom: .5rem;
  font-size: larger;
}

summary {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

li {
  background-color: #f9f9f9;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

li:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
}

li strong {
  color: #495057;
}

li button {
  margin-top: 0.8rem;
  margin-right: 0.8rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  background-color: #e9ecef;
  border: none;
  border-radius: 0.3rem;
  color: #495057;
  transition: background-color 0.3s ease;
}

li button:hover {
  background-color: #ced4da;
}

li button:last-child {
  background-color: #28a745;
  color: #ffffff;
}

li button:last-child:hover {
  background-color: #218838;
}

hr {
  border-top: 0.1rem solid #e0e0e0;
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .inputs-container,
  .select-item-type {
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  ul {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
  }

  li {
    min-width: 23rem;
  }
}