<div class="container">
  <div class="inputs-container">
    <input type="text" placeholder="* Add task title" [(ngModel)]="title" />
    <input
      type="text"
      placeholder="Add optional short description"
      [(ngModel)]="description"
    />
    <div>
      Select Due Date:
      <input type="datetime-local" [(ngModel)]="dueDateTime" />
    </div>
  </div>
  <div class="select-item-type">
    <select [(ngModel)]="selectedPriority">
      <option value="" disabled [selected]="selectedPriority === null">
        Select Priority
      </option>
      <option *ngFor="let priority of priorities" [value]="priority">
        {{ priority }}
      </option>
    </select>

    <select [(ngModel)]="selectedCategory">
      <option value="" disabled>Select Category</option>
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>

    <select [(ngModel)]="selectedStatus">
      <option value="" disabled>Set Status</option>
      <option *ngFor="let status of statuses" [value]="status">
        {{ status }}
      </option>
    </select>
  </div>

  <div class="inputs-container">
    <input type="text" placeholder="Add comments" [(ngModel)]="comments" />
    <button (click)="add()">Add</button>
  </div>

  <!-- displaying tasks + conditional rendering-->
</div>
<ng-container *ngIf="todos.length > 0; else noTodo">
  <ul>
    <li *ngFor="let todo of todos">
      <p class="title">
        {{ todo.title }}
      </p>
      <p *ngIf="todo.description">
        <strong>Description: </strong> {{ todo.description }}
      </p>
      <p *ngIf="todo.createdDate.formatted">
        <strong>Created On: </strong> {{ todo.createdDate.formatted }}
      </p>

      <details>
        <summary> . .. ..</summary>

        <p *ngIf="todo.priority">
          <strong>Priority: </strong> {{ todo.priority }}
        </p>
        <p *ngIf="todo.status"><strong>Status: </strong> {{ todo.status }}</p>
        <p *ngIf="todo.category">
          <strong>Category: </strong> {{ todo.category }}
        </p>
        <p *ngIf="todo.comments">
          <strong>Comments: </strong> {{ todo.comments }}
        </p>
        <p *ngIf="todo.dueDateTime.formatted">
          <strong>Due Date: </strong> {{ todo.dueDateTime.formatted }}
        </p>
      </details>
      <div>
        <button (click)="deleteTask(todo.id)">Delete</button>
        <button
          *ngIf="todo.status != 'Completed'"
          (click)="isTaskComplete(todo.id)"
        >
          Mark Complete
        </button>
      </div>
      <hr />
    </li>
  </ul>
</ng-container>
<ng-template #noTodo>
  <p>No tasks found. Add one.</p>
</ng-template>
